In [2]:
import re
import pandas as pd

In [3]:
df = pd.read_csv("2023-06-25_data.csv")

C:\Users\patri\AppData\Local\Temp\ipykernel_4272\3682142842.py:1: DtypeWarning: Columns (71,90,91) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("2023-06-25_data.csv")

In [4]:
df['Celková cena'] = df['Celková cena'].astype(str).apply(lambda x: re.sub(r'\D', '', x))
df['Užitná plocha'] = df['Užitná plocha'].astype(str).apply(lambda x: re.sub(r'\D', '', x))

In [5]:
df['Celková cena'] = pd.to_numeric(df['Celková cena'], errors='coerce')
df['Užitná plocha'] = pd.to_numeric(df['Užitná plocha'], errors='coerce')

# Remove rows with NaN 'Celková cena'
df = df.dropna(subset=['Celková cena'])
df = df.dropna(subset=['Užitná plocha'])

In [6]:
df.head()

,url_id,Celková cena,Poznámka k ceně,Aktualizace,ID,Stavba,Stav objektu,Vlastnictví,Podlaží,Užitná plocha,...,Druh dražby,Místo konání dražby,Datum konání dražby,Termín 1. prohlídky,Termín 2. prohlídky,Dražební vyhláška,Posudek znalce,Plocha bazénu,Minimální kupní cena,Velikost podílu
0,/cs/v2/estates/722035788,6832000.0,"cena včetně sklepa / parkovací stání 350.000 ,...",Dnes,722035788.0,Cihlová,Novostavba,Osobní,2. podlaží,480.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/cs/v2/estates/1669567564,13254000.0,V ceně dvě garážové stání a sklep,Dnes,NaN,Skeletová,Novostavba,Osobní,1. podlaží z celkem 6 včetně 2 podzemních,1880.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/cs/v2/estates/2418832972,6361000.0,"včetně DPH, včetně poplatků, včetně provize, v...",Dnes,NaN,Cihlová,Novostavba,Osobní,1. podlaží,530.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/cs/v2/estates/3930260556,2214000.0,"včetně DPH, včetně poplatků, včetně provize, v...",Dnes,NaN,Panelová,Dobrý,Družstevní,5. podlaží včetně 1 podzemního,350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/cs/v2/estates/4078400588,17102000.0,"včetně DPH, včetně poplatků, včetně provize, v...",Dnes,NaN,Cihlová,Dobrý,Osobní,3. podlaží,820.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.to_csv("2023-06-25_data_cleaned.csv")